<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sfg.wbsp.dao.CompanyMapper">
    <resultMap id="BaseResultMap" type="org.sfg.wbsp.domain.Company">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="define" property="define" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="logo" property="logo" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectAllCount" resultType="java.lang.Long">
        select count(1) from company where status=1
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from company
        where status = 1
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from company
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="org.sfg.wbsp.domain.Company">
        insert into company (name, define, address, logo)
        values (#{name,jdbcType=VARCHAR}, #{define,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR},
                #{logo,jdbcType=VARCHAR})
    </insert>

    <update id="deleteById" parameterType="java.lang.Integer">
        update company
        set status = -1
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="update" parameterType="org.sfg.wbsp.domain.Company">
        update company
        set name    = #{name,jdbcType=VARCHAR},
            define  = #{define,jdbcType=INTEGER},
            address = #{address,jdbcType=VARCHAR},
            logo    = #{logo,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>